
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "custom_bootstrap";

// Jquery-UI
@import '~jquery-ui/themes/base/all.css';

// The footer
@import 'footer';

// Login page
@import 'login';

.login-body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) ,url("../../storage/app/images/login_background.jpg");
  background-size: cover, cover;
}

.vertical-align {
  top: 99%;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

