footer{
  background-color: #ff;
  position: relative;
  right: 0;
  bottom: 0;
  top: 77.5vh;
  left: 0;
  padding: 1rem;
  text-align: center;
  margin-top: -3em;
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.04);
}